@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: roboto;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    
}
.hero-section{
    height: 100vh;
    background: url(./img/hero-img-mobile.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img img{
    display: none;
 }
.hero-text{
    color: black;
    height: 50vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );
}
.hero-text h1{
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
}
.contacCel{
    color: #3cbf36;
}
.hero-text p{
    display: none;
}
.buttons{
    width: 100%;
    display: flex;
}
button{
    border-radius: 100px;
    padding: 10px 25px;
    width: 160px;
    border: none;
}
button:hover{
    cursor: pointer;
}
.btn-action{
    background-color: #3cbf36;
    color: var(--card-color);
    margin: 0 10px 0 0;
}
.btn-action strong{
    color: white;
}

h2{
    text-align: center;
}
.about-card h3 , p{
    margin-bottom: 10px;
}