@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --card-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
section{
    background-color: var(--card-color);
    width: 80vw;
    padding: 30px 0;
    margin-bottom: 30px;
    border-radius: 10px;
}
.hero{
    display: flex;
    justify-content: space-around;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button{
    margin: 0 10px 0 0;
    border-radius: 100px;
    padding: 10px 25px;
}
.btn-action{
    background-color: #3cbf36;
    border: none;
    color: var(--card-color);
}
.btn-about{
    background-color: var(--card-color);
    border: solid 3px #3cbf36;
}
.hero img{
    width: 400px;
    border-radius: 10px;
}
